*{
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    color: #89FFA0;
    background-color: #303030;
}

.custom-toggler.navbar-toggler {
    border-color: #89FFA0;
    margin-right: 2remRe;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.bgverde{
    color: #303030;
    background-color: #89FFA0;
}

.bgoscurito{
    color: #89FFA0;
    background-color: #303030;
}

.bgoscuro{
    color: #89FFA0;
    background-color: #202020;
}

.bgoscurisimo{
    background-color: #101010;
}

.logomobile{
    margin-left: 1rem;
}

.nav-link:hover{
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
    color: #89FFA0;
}

.nav-link{
    color:  #89FFA0;
    text-decoration: none;
    font-size: larger;
    margin-left: 1rem;
    margin-right: 1rem;
}

.animato:hover{
        animation: tada; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 1s; /* don't forget to set a duration! */
        color: #89FFA0;
}

.servicios{
    margin-top: 4rem;
}

model-viewer{
    min-width: 500px;
    min-height: 500px;
}

.parrafos{
    color: #303030;
}

.tituloblanco{
    color: aliceblue;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 6px #89FFA0;
}

.titulooscuro{
    color: #303030;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 6px #808080;
}

.tituloverde{
    color: #89FFA0;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 6px #89FFA0;
}


.w1{
    min-width: 600px;
}
.docup{
    color: #89FFA0;
    margin-bottom: 2rem;
}

.contacto{
    margin-top: 5rem;
    margin-bottom: 9rem;
    max-height: 30rem;
}

.divisor{
    margin-top: 4rem;
}

.divisor2{
    margin-top: 8rem;
}

.col{
    margin-bottom: 4rem;
}

.docutec{
    max-width: 500px;
}

.aboutme{
    background-image: linear-gradient(90deg, #303030, #89FFA0, #303030);
    color: #202020;
}

.renders{
    max-width: 700px;
}

.cursivo{
    font-family: 'Yellowtail', cursive;
    font-size: 2rem;
    font-weight: 100;
}

.Marvel{
    font-family: 'Marvel', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    font-weight: 100;
}

.card-title{
    font-weight: 800;
}