*{
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    color: #89FFA0;
    background-color: #303030;
}

.bgoscuro{
    background-color: #202020;
}

.bgoscurisimo{
    background-color: #101010;
}

.logomobile{
    margin-left: 1rem;
}

.nav-link:hover{
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
    color: #89FFA0;
}

.nav-link{
    color:  #89FFA0;
    text-decoration: none;
    font-size: larger;
    margin-left: 1rem;
    margin-right: 1rem;
}

.animato:hover{
        animation: tada; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 1s; /* don't forget to set a duration! */
        color: #89FFA0;
}

.trabajos{
    margin-top: 6rem;
    margin-bottom: 6rem;
}

model-viewer{
    min-width: 500px;
    min-height: 500px;
}

.docutec{
    width: 500px;
}

.parrafos{
    color: #89FFA0;
    max-width: 25rem;
}

.Titulos{
    color: #89FFA0;
    max-width: 25rem;
}

.contacto{
    margin-top: 5rem;
}